@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Base reset and font */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family:
        'Outfit',
        ui-sans-serif,
        system-ui,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        'Noto Color Emoji';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
